.container {
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  overflow-y: hidden;
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  scroll-snap-align: start;
}
