.desktop {
  display: none;
}

.tablet {
  display: none;
}

.mobile {
  display: none;
}

.mobilemed {
  display: block;
}

/* Desktop */
@media (min-width: 1024px) {
  .desktop {
    display: block;
  }
  .tablet, .mobile, .mobilemed {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--background);
    box-sizing: border-box;
    
  }
  
  .terminal-item {
    flex-direction: row;
  }
  
  .title {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
  }
  
  .content {
      width: 100%;
  }
  
  .description {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      /* margin-bottom: 3rem; */
      margin-top: 1rem;
      font-size: 1.1rem;
  }
  
  .asciiBlock {
    white-space: pre-wrap;
    display: block;
    text-align: left;
    font-size: 1.1rem;
    /* margin-top: 1rem; */
  }
  
  .table {
    white-space: pre;
    display: inline-block;  /* shrinks container to content width */
    text-align: left;
  }

  .green {
    color: #4CAF50;
  }

}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .tablet {
    display: block;
  }
  .desktop, .mobile, .mobilemed {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    padding: 0 5vw;
    box-sizing: border-box;
  }
  
  .terminal-item {
    flex-direction: row;
  }
  
  .title {
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
  }
  
  .content {
      max-width: 100%;
      width: 100%;
      box-sizing: border-box;
  }
  
  .description {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1rem;
      font-size: 1rem;
      overflow-wrap: break-word;
      word-break: break-word;
  }
  
  .asciiBlock {
    white-space: pre-wrap;
    display: block;
    text-align: left;
    overflow-x: auto;
    /* margin-top: 1rem; */
  }
  
  .table {
    white-space: pre-wrap;
    display: block;
    text-align: left;
    font-size: 0.9rem;
  }
  .green {
    color: #4CAF50;
  }
}

/* Medium Mobile */
@media (min-width: 480px) and (max-width: 767px) {
  .mobilemed {
    display: block;
  }
  .desktop, .tablet, .mobile {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    padding: 0 5vw;
    box-sizing: border-box;
  }
  
  .terminal-item {
    flex-direction: row;
  }
  
  .title {
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
  }
  
  .content {
      max-width: 100%;
      width: 100%;
      box-sizing: border-box;
  }
  
  .description {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1rem;
      font-size: 1rem;
      overflow-wrap: break-word;
      word-break: break-word;
  }
  
  .asciiBlock {
    white-space: pre-wrap;
    display: block;
    text-align: left;
    font-size: 1rem;
    /* margin-top: 1rem; */
  }
  
  .table {
    white-space: pre;
    display: block;
    text-align: left;
    overflow-x: auto;
    font-size: 0.96rem;
  }

  .green {
    color: #4CAF50;
  }

}

/* Small Mobile */
@media (max-width: 479px) {
  .mobile {
    display: block;
  }
  .desktop, .tablet, .mobilemed {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    padding: 0 5vw;
    box-sizing: border-box;
  }
  
  .terminal-item {
    flex-direction: row;
  }
  
  .title {
      font-size: 0.9rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
  }
  
  .content {
      max-width: 100%;
      width: 100%;
      box-sizing: border-box;
  }
  
  .description {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1rem;
      font-size: 0.9rem;
      overflow-wrap: break-word;
      word-break: break-word;
  }
  
  .asciiBlock {
    white-space: pre-wrap;
    display: block;
    text-align: left;
    font-size: 0.9rem;
    /* margin-top: 1rem; */
  }
  
  .table {
    white-space: pre;
    display: block;
    text-align: left;
    overflow-x: auto;
    font-size: 0.96rem;
  }

  .green {
    color: #4CAF50;
  }



}