.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--background);
  margin-top: 35rem;
  /* margin-right: 28.5rem; */
}

.terminal-item {
  flex-direction: row;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.content {
    max-width: 1000px;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 1.1rem;
}
