
.desktop {
  display: none;
}

.tablet {
  display: none;
}

.mobile {
  display: none;
}

.mobilemed {
  display: block;
}

/* Desktop */
@media (min-width: 1024px) {
  .desktop {
    display: block;
  }
  .tablet, .mobile, .mobilemed {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--background);
    box-sizing: border-box;
    
  }
  
  .terminal-item {
    flex-direction: row;
  }
  
  .title {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
  }
  
  .content {
      width: 100%;
  }
  
  .description {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      /* margin-bottom: 3rem; */
      margin-top: 1rem;
      font-size: 1.1rem;
  }
  
  
  .title2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  
  .content {
    width: 100%;
  }

  .button {
    color: var(--foreground);
    font-family: var(--font-lucida);
    background-color: transparent;
    border: 0cap;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: lowercase;
    width: 22ch;
    text-align: left;
  }
  
  .button:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  
  .terminalItem {
    flex-direction: row;
  }

  .row {
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    gap: 2ch;
  }

  .table {
    white-space: pre;
    display: inline-block;  /* shrinks container to content width */
    text-align: left;
    font-size: 1.1rem;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .tablet {
    display: block;
  }
  .desktop, .mobile, .mobilemed {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--background);
    box-sizing: border-box;
    
  }
  
  .terminal-item {
    flex-direction: row;
  }
  
  .title {
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
  }
  
  .content {
      width: 100%;
  }
  
  .description {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      /* margin-bottom: 3rem; */
      margin-top: 1rem;
      font-size: 1rem;
  }
  
  
  .title2 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  
  .content {
    width: 100%;
  }

  .button {
    color: var(--foreground);
    font-family: var(--font-lucida);
    background-color: transparent;
    border: 0cap;
    font-size: 1rem;
    font-weight: 400;
    text-transform: lowercase;
    width: 20ch;
    text-align: left;
  }

  .button2 {
    color: var(--foreground);
    font-family: var(--font-lucida);
    background-color: transparent;
    border: 0cap;
    font-size: 1rem;
    font-weight: 400;
    text-transform: lowercase;
    width: 21ch;
    text-align: left;
  }
  
  .button:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  
  .terminalItem {
    flex-direction: row;
  }

  .row {
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    gap: 1ch;
  }
}

/* Medium Mobile */
@media (min-width: 480px) and (max-width: 767px) {
  .mobilemed {
    display: block;
  }
  .desktop, .tablet, .mobile {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--background);
    box-sizing: border-box;

    padding-right: 5vw;
    
  }
  
  .terminal-item {
    flex-direction: row;
 
  }
  
  .title {
      font-size: 0.95rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
  }
  
  .content {
      width: 100%;
  }
  
  .description {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      /* margin-bottom: 3rem; */
      margin-top: 1rem;
      font-size: 0.9rem;
  }
  
  
  .title2 {
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  
  .content {
    width: 100%;
  }

  .button {
    color: var(--foreground);
    font-family: var(--font-lucida);
    background-color: transparent;
    border: 0cap;
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: lowercase;
    width: 22ch;
    text-align: left;
  }

  
  .button:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  
  .terminalItem {
    flex-direction: row;
  }

  .row {
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    gap: 4ch;
  }

  .row2 {
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    padding-top: 1ch;
    padding-bottom: 1ch;
    gap: 4ch;
  }
}

/* Small Mobile */
@media (max-width: 479px) {
  .mobile {
    display: block;
  }
  .desktop, .tablet, .mobilemed {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--background);
    padding: 0 5vw;
    padding-bottom: 30vh;
    box-sizing: border-box;
  }
}