.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background-color: var(--background);
  margin-top: 31rem;
  margin-right: 9.5rem;

}

.terminalItem {
  flex-direction: row;
}

.terminalItem p {
  flex-direction: row;
  position: fixed;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.content {
    max-width: 1000px;
    width: 100%;
}

/* .description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 1.1rem;
} */
 .description {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  font-size: 1.1rem;
  font-family: var(--font-lucida);
  white-space: pre-wrap; /* preserve spacing and line breaks */
  color: white; /* or your default text color */
}

.jobTitle {
  color: #4CAF50; /* green for job titles */
  font-weight: 500;
}

.asciiBlock {
  font-family: monospace;
  white-space: pre;
  font-size: 1.1rem;
  color: var(--textColor); /* Optional: match surrounding text */
  margin-top: 1rem;
}

.table {
  white-space: pre;
  display: inline-block;  /* shrinks container to content width */
  text-align: left;
}

.greenLine {
  color: #4CAF50;
  font-weight: 500;
}

/* Mobile-friendly experience section */
@media (max-width: 768px) {
  .container {
    margin-top: 15rem;
    margin-right: 3rem;
  }
  .title {
    font-size: 1.1rem;
  }
  .description {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 8rem;
    margin-right: 9.5rem;
    padding: 1rem;
    min-width: 800px;
  }
  .content {
    max-width: 1000px;
    width: 100%;
  }
  .title {
    font-size: 1rem;
  }
  .description {
    font-size: 0.9rem;
  }
  .asciiBlock {
    font-size: 0.8rem;
    margin-top: 0.8rem;
  }
}
